<header>
    <h3>{{eventName}}</h3>
    <h4 class="text-muted">{{eventTime}}</h4>
</header>
<p>
    <strong>{{locationName}}</strong><br>
    <a href={{mapLink}} target="_blank">
        {{addressLine1}}<br>
        {{addressLine2}}
    </a>
</p>
{{{map}}}
<p>{{description}}</p>
<p><em>{{details1}}{{{detailsLink}}}{{details2}}</em></p>
